<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new</h1>
    <!-- form 태그의 action => a태그의 href랑 같은 기능 (버튼을 입력했을 때 어디로
        이동해야하는지에 대한 내용)-->
        <!-- submit 누르면 posts/create/로 이동함 -->
    <form action="/posts/create/">
        <input type="text" name ="title">
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <input type="submit">

    </form>
</body>
</html>